<!DOCTYPE html>
<html>
<head>
  <title>TestSpree</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'applcication', 'data-turbolinks-track' => true %>
  <%= render_meta_data %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= alchemy_preview_mode_code %>
  <%= render "alchemy/menubar" %>
</body>
</html>
